SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Produkcja: postgresql://user:password@localhost:5432/mundial_typer
# DATABASE_URL=

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
# Produkcja: django.core.mail.backends.smtp.EmailBackend
DEFAULT_FROM_EMAIL=noreply@mundial-typer.pl

# Faza 4
FOOTBALL_DATA_API_KEY=
